<!doctype html>
<html>
<head>
<meta charset="utf-8" />
<title>Talentbank</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
<link rel="stylesheet" href="../assets/front.main.css" />
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/detectizr/2.2.0/detectizr.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.1/TweenMax.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/debug.addIndicators.min.js"></script>
<script type="text/javascript" src="../assets/all.js"></script>
</head>
<body style="background: #4c4c4c; color: #fff;">
	<div class="wrap">
		<h1 class="logo"><i class="fa fa-file-code"></i> jQuery</h1>
		<div class="contents">
			<div class="dataList">
				<table>
					<colgroup>
						<col style="width:160px;" />
						<col />
						<col style="width:160px;" />
						<col />
					</colgroup>
					<thead>
						<tr>
							<th scope="col">jquery</th>
							<th scope="col">설명</th>
							<th scope="col">jquery</th>
							<th scope="col">설명</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>attr()</td>
							<td>선택자 속성값 가져오기</td>
							<td>addClass()</td>
							<td>선택자 클래스추가</td>
						</tr>
						<tr>
							<td>removeClass()</td>
							<td>선택자 클래스삭제</td>
							<td>toggleClass()</td>
							<td>선택자 클래스추가삭제</td>
						</tr>
						<tr>
							<td>html()</td>
							<td>선택자 html추가</td>
							<td>text()</td>
							<td>선택자 텍스트 가져오기</td>
						</tr>
						<tr>
							<td>css()</td>
							<td>선택자 css추가</td>
							<td>offset()</td>
							<td>선택자 현재 위치값</td>
						</tr>
						<tr>
							<td>scrollTop()</td>
							<td>현재 스크롤바의 위치값</td>
							<td>scrollLeft()</td>
							<td>스크롤바의 수평위치 X좌표 값</td>
						</tr>
						<tr>
							<td>height()</td>
							<td>선택자 높이값</td>
							<td>width()</td>
							<td>선택자 너비값</td>
						</tr>
						<tr>
							<td>append()</td>
							<td>선택자안 뒷부분에 추가</td>
							<td>appendTo()</td>
							<td>지정된 위치에 추가</td>
						</tr>
						<tr>
							<td>after()</td>
							<td>선택자 뒤에 추가</td>
							<td>before()</td>
							<td>선택자 앞에 추가</td>
						</tr>
						<tr>
							<td>empty()</td>
							<td>선택자내 문자삭제</td>
							<td>remove()</td>
							<td>선택자 삭제</td>
						</tr>
						<tr>
							<td>children()</td>
							<td>선택자의 자식요소</td>
							<td>find()</td>
							<td>선택자내 검색</td>
						</tr>
						<tr>
							<td>next()</td>
							<td>선택자의 다음선택자</td>
							<td>nextAll()</td>
							<td>선택자 다음 모든 선택자</td>
						</tr>
						<tr>
							<td>parent()</td>
							<td>선택자 포함한 모든부모요소</td>
							<td>parents()</td>
							<td>선택자 포함한 부모요소</td>
						</tr>
						<tr>
							<td>prev()</td>
							<td>선택자 전대상</td>
							<td>prevAll()</td>
							<td>선택자 모든전대상</td>
						</tr>
						<tr>
							<td>siblings()</td>
							<td>선택자 형제요소</td>
							<td>on()</td>
							<td>이벤트 연결함</td>
						</tr>
						<tr>
							<td>bind()</td>
							<td>이벤트 연결함</td>
							<td>change()</td>
							<td>대상이 바뀌는 지 감지하여 실행</td>
						</tr>
						<tr>
							<td>click()</td>
							<td>클릭시 실행</td>
							<td>dblclick()</td>
							<td>더블클릭시 실행</td>
						</tr>
						<tr>
							<td>focus()</td>
							<td>포커스를 얻었을때 실행</td>
							<td>focusin()</td>
							<td>포커스가 들어왔을때</td>
						</tr>
						<tr>
							<td>focusout</td>
							<td>포커스가 나갔을때</td>
							<td>keydown()</td>
							<td>키를 누를때</td>
						</tr>
						<tr>
							<td>keypress()</td>
							<td>연속으로 빨리 keydown이 일어날때</td>
							<td>keyup()</td>
							<td>키를 뗄때</td>
						</tr>
						<tr>
							<td>mousedown()</td>
							<td>마우스 버튼를 누를때</td>
							<td>mouseenter()</td>
							<td>마우스 요소의 경계 외부에서 내부로 이동할 때 발생</td>
						</tr>
						<tr>
							<td>mouseleave()</td>
							<td>마우스 요소의 경계 내부에서 외부로 이동할 때 발생</td>
							<td>mousemove()</td>
							<td>마우스를 움직일 때 발생함</td>
						</tr>
						<tr>
							<td>mouseout()</td>
							<td>마우스가 요소를 벗어날 때 발생함</td>
							<td>mouseover()</td>
							<td>마우스를 요소 안에 들어올 때 발생함</td>
						</tr>
						<tr>
							<td>mouseup()</td>
							<td>마우스 버튼을 뗄 때 발생함</td>
							<td>resize()</td>
							<td>윈도우의 크기를 변화시킬 때 발생함</td>
						</tr>
						<tr>
							<td>scroll()</td>
							<td>윈도우를 스크롤할 때 발생함</td>
							<td>unload()</td>
							<td>윈도우(문서 객체)를 닫을 때 발생</td>
						</tr>
						<tr>
							<td>show()</td>
							<td>문서 객체를 크게 하며 보여줌</td>
							<td>hide()</td>
							<td>문서 객체를 작게 하며 사라지게 함</td>
						</tr>
						<tr>
							<td>slideDown()</td>
							<td>문서 객체를 슬라이드 효과와 함께 보여줌</td>
							<td>slideUp()</td>
							<td>문서 객체를 슬라이드 효과와 함께 사라지게 함</td>
						</tr>
						<tr>
							<td>slideToggle()</td>
							<td>slideDown() 메서드와 slideUp() 메서드를 번갈아 실행함</td>
							<td>fadeIn()</td>
							<td>문서 객체를 선명하게 하며 보여줌</td>
						</tr>
						<tr>
							<td>fadeOut()</td>
							<td>문서 객체를 흐리게 하며 사라지게 함</td>
							<td>fadeTo()</td>
							<td>대상을 시간동안 투명도를 적용</td>
						</tr>
						<tr>
							<td>fadeToggle()</td>
							<td>fadeln() 메서드와 fadeOut() 메서드를 번갈아 실행함</td>
							<td>animate()</td>
							<td>사용자 지정 효과를 생성함</td>
						</tr>
						<tr>
							<td>stop()</td>
							<td>효과와 애니메이션을 정지함</td>
							<td>delay()</td>
							<td>큐에 있는 명령을 잠시 중지함</td>
						</tr>
						<tr>
							<td>each()</td>
							<td>대상 수 많큼 반복하여 실행</td>
							<td>event.preventDefault()</td>
							<td>기본 이벤트를 제거함</td>
						</tr>
						<tr>
							<td>event.stopPropagation()</td>
							<td>이벤트 전달을 제거함</td>
							<td></td>
							<td></td>
						</tr>
					</tbody>
				</table>
			</div>
			<h3 class="stit"><i class="fa fa-file-code"></i></h3>
			<div class="dataList">
				<table>
					<colgroup>
						<col style="width:160px;" />
						<col />
						<col style="width:160px;" />
						<col />
					</colgroup>
					<thead>
						<tr>
							<th scope="col">jquery</th>
							<th scope="col">설명</th>
							<th scope="col">jquery</th>
							<th scope="col">설명</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>prop()</td>
							<td>JavaScript의 프로파티(property)를 취급하는 메소드</td>
							<td>var()</td>
							<td>폼의 value 가져오기</td>
						</tr>
						<tr>
							<td>innerHeight()</td>
							<td>padding 포함 높이 제어</td>
							<td>inerWidth()</td>
							<td>padding을 포함한 넓이 제어</td>
						</tr>
						<tr>
							<td>outerHeight()</td>
							<td>border포함 높이 구하기</td>
							<td>outerWidth()</td>
							<td>border 포함 넓이 구하기</td>
						</tr>
						<tr>
							<td>prepend()</td>
							<td>선택된 모든 요소의 앞에 추가하기</td>
							<td>prependTo()</td>
							<td>선택된 모든 요소의 앞에 추가하기2</td>
						</tr>
						<tr>
							<td>clone()</td>
							<td>요소 복사하기</td>
							<td>nextUntil()</td>
							<td>조건이 맞을 때까지 쭈욱</td>
						</tr>
						<tr>
							<td>offsetParent()</td>
							<td>position으로 부모 찾기</td>
							<td>parentsUntil()</td>
							<td>특정 부모를 찾을 때까지</td>
						</tr>
						<tr>
							<td>prevUntil()</td>
							<td>특정 조건을 만날 때까지 이전 요소들을 쭈욱</td>
							<td>add()</td>
							<td>선택요소 확장하기</td>
						</tr>
						<tr>
							<td>contents()</td>
							<td>텍스트 노드를 포함한 자식요소 가져오기</td>
							<td>end()</td>
							<td>이전 선택요소로 돌아가기</td>
						</tr>
						<tr>
							<td>off()</td>
							<td>이벤트 해제하기</td>
							<td>one()</td>
							<td>이벤트 발생하면 바인딩 자동해제</td>
						</tr>
						<tr>
							<td>trigger()</td>
							<td>함수 실행시키기</td>
							<td>blur()</td>
							<td>포커스 잃을 때 이벤트</td>
						</tr>
						<tr>
							<td>error()</td>
							<td>error 발생시</td>
							<td>select()</td>
							<td>select 선택시</td>
						</tr>
						<tr>
							<td>$.inArray()</td>
							<td>배열 내의 값을 찾아서 인덱스를 반환</td>
							<td>$.toArray</td>
							<td>컬렉션 형태로 되어 있는 것들을 배열로 리턴</td>
						</tr>
						<tr>
							<td>param()</td>
							<td>Ajax 데이터용 배열이나 객체를 직렬화</td>
							<td>$.trim()</td>
							<td>양쪽 공백 제거</td>
						</tr>
						<tr>
							<td>event.pageX</td>
							<td>브라우저의 화면을 기준으로 한 마우스의 X좌표 위치</td>
							<td>event.pageY</td>
							<td>브라우저의 화면을 기중으로 한 마우스의 Y좌표 위치</td>
						</tr>
					</tbody>
				</table>
			</div>

			<h3 class="stit"><i class="fa fa-file-code"></i> 자바스크립트 배열에서 사용할 수 있는 메소드 목록</h3>
			<div class="dataList">
				<table border="1">
					<colgroup>
						<col style="width:160px;" />
						<col />
					</colgroup>
					<tbody>
					<tr>
					   <th><span>메소드</span></th>
						<th><span>기능</span></th>
					</tr>
					<tr>
						<td><span><b>concat()</b></span></td>
						<td><span>두개 또는 그 이상의 배열을 연결한 배열을 반환합니다.</span></td>
					</tr>
					<tr>
						<td><span><b>copyWithin()</b></span></td>
						<td><span>배열 내에서 첫 번째 인자 위치의 요소를 두 번째 인자 위치에 복사합니다.</span></td>
					</tr>
					<tr>
						<td><span><b>every()</b></span></td>
						<td><span>인자로 주어진 함수로 배열내의 모든 요소를 테스트해서 참일 경우 true를 반환합니다.</span></td>
					</tr>
					<tr>
						<td><span><b>fill()</b></span></td>
						<td><span>배열내의 모든 요소의 값을 주어진 값으로 채웁니다.</span></td>
					</tr>
					<tr>
						<td><span><b>filter()</b></span></td>
						<td><span>인자로 주어진 함수로 배열내의 모든 요소를 테스트해서 참인 요소만으로 만들어진 배열을 반환합니다.</span></td>
					</tr>
					<tr>
						<td><span><b>find()</b></span></td>
						<td><span>인자로 주어진 함수로 배열내의 요소를 테스트해서 참인 첫 번째 요소를 반환 합니다. 찾지 못하면 undefined를 반환합니다.</span></td>
					</tr>
					<tr>
						<td><span><b>findIndex()</b></span></td>
						<td><span>인자로 주어진 함수로 배열내의 요소를 테스트해서 참인 첫 번째 요소의 인덱스를 반환합니다. 찾지 못하면 -1을 반환합니다.</span></td>
					</tr>
					<tr>
						<td><span><b>forEach()</b></span></td>
						<td><span>배열내의 모든 요소에 대해 인자로 주어진 함수를 실행합니다.</span></td>
					</tr>
					<tr>
						<td><span><b>indexOf()</b></span></td>
						<td><span>인자로 주어진 값과 같은 값을 가지는 첫 번째 요소의 인덱스를 반환합니다. 찾지 못하면 -1을 반환합니다.</span></td>
					</tr>
					<tr>
						<td><span><b>isArray()</b></span></td>
						<td><span>인자로 주어진 객체가 배열이면 true를 반환합니다. Array.isArray(object);</span></td>
					</tr>
					<tr>
						<td><span><b>join()</b></span></td>
						<td><span>배열의 모든 요소를 인자로 주어진 분리자로 연결한 문자열을 반환합니다. 분리자를 주지 않으면 콤마(,)가 분리자 입니다.</span></td>
					</tr>
					<tr>
						<td><span><b>lastIndexOf()</b></span></td>
						<td><span>인자로 주어진 값을 배열의 뒤에서 부터 찾아서 첫 번째로 발견된 요소의 인덱스를 반환합니다. 찾지 못하면 -1을 반환합니다.</span></td>
					</tr>
					<tr>
						<td><span><b>map()</b></span></td>
						<td><span>인자로 주어진 함수에 모든 각각의 요소를 적용한 값으로 이루어진 배열을 반환합니다.</span></td>
					</tr>
					<tr>
						<td><span><b>pop()</b></span></td>
						<td><span>배열의 마지막 요소를 제거하고, 제거된 요소를 반환합니다. 배열의 길이가 1 줄어 듭니다.</span></td>
					</tr>
					<tr>
						<td><span><b>push()</b></span></td>
						<td><span>배열의 끝에 인자로 주어진 같을 추가 합니다. 새 배열의 길이를 반환합니다.</span></td>
					</tr>
					<tr>
						<td><span><b>reduce()</b></span></td>
						<td><span>인자로 주어진 함수를 모든 요소에 적용하여 만들어진 단일 값을 반환합니다. 배열 요소에 대해 왼쪽에서 오른쪽으로 적용해 나갑니다. array.reduce(function(total, currentValue, currentIndex, arr), initialValue)</span></td>
					</tr>
					<tr>
						<td nowrap=""><span><b>reduceRight()</b></span></td>
						<td><span>reduce() 와 같은 기능을 배열 요소에 대해 오른쪽에서 왼쪽으로 적용해 나갑니다.</span></td>
					</tr>
					<tr>
						<td><span><b>reverse()</b></span></td>
						<td><span>배열 요소의 순서가 뒤집힌 배열을 반환합니다.</span></td>
					</tr>
					<tr>
						<td><span><b>shift()</b></span></td>
						<td><span>배열에서 첫번째 요소를 제거하고, 제거된 요소를 반환합니다.</span></td>
					</tr>
					<tr>
						<td><span><b>slice()</b></span></td>
						<td><span>배열의 일부분을 잘라서 배열로 반환합니다. array.slice(start, end)</span></td>
					</tr>
					<tr>
						<td><span><b>some()</b></span></td>
						<td><span>인자로 주어진 함수를 배열의 요소에 대해서 적용해서 하나라도 참이면 true 를 반환합니다.</span></td>
					</tr>
					<tr>
						<td><span><b>sort()</b></span></td>
						<td><span>배열의 요소를 정렬합니다. 인자로 정렬에 사용될 비교 함수를 줄수 있습니다. 인자가 없으면 알파벳순으로 오른차순으로 정렬합니다.</span></td>
					</tr>
					<tr>
						<td><span><b>splice()</b></span></td>
						<td><span>배열에 요소를 추가 또는 삭제 합니다.</span></td>
					</tr>
					<tr>
						<td><span><b>toString()</b></span></td>
						<td><span>배열을 문자열로 변환하여 그 결과를 반환합니다.분리자로 콤마가 사용됩니다.</span></td>
					</tr>
					<tr>
						<td><span><b>unshift()</b></span></td>
						<td><span>배열의 첫 번째 자리에 새 요소를 추가합니다. 새로운 배열의 길이를 반환합니다.</span></td>
					</tr>
					<tr>
						<td><span><b>valueOf()</b></span></td>
						<td><span>배열 그 자체를 반환합니다.var b = a.valueOf(); 라면 a === b 입니다.</span></td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<script type="text/javascript">
	$( document ).ready(function() {
		
	});
	</script>
</body>
</html>